<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Use Column Label -->
        <setting name="useColumnLabel" value="true"/>
        <!-- Enable Auto Generated Keys -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- Enable Camel Case -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Cache -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <plugins>
        <!--        排在后面的拦截器，先执行-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
        <plugin interceptor="net.kuper.tz.core.mybatis.DataPermissionInterceptor">
        </plugin>
    </plugins>

</configuration>
